.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kite One', sans-serif;
}
.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    
}

.card{
    width: 200px;
    height: 150px;
    text-align: center;
   background-color: white;
   margin: 5px;
   border-radius: 5px;
}
.footer{
    padding: 2%;
    margin-top: 15px;
    border-top: 5px solid yellow;
    
}

/* ------ Media Query ------- */

@media (max-width:768px){

    .card{
        width:150px;
        height: 150px;
        
    }
}